#login_button,
#registo_button {
    background-color: #336688;
}

#registo_button {
    font-size: 1rem;
}

.login-manual {
    margin-right: 50px;
}

.page-top-section {
    height: 120px;
    padding-top: 80px;
}

.required_field,
.invalid-feedback {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.required_field {
    visibility: hidden;
    font-size: 14px;
    font-weight: bold;
    color: red;
}

#required_fields {
    margin-bottom: 10px;
}